@import "global";
@import "vars";
@import "libs";
@import "fonts";

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-line{
  border-bottom: 1px solid rgba(208, 212, 216, .5);
}

.container-content {
  max-width: 970px;
  margin: 0 auto;
}

.header__top {
  background-image: url('../img/top-bg.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px;
}

.header__top-inner {
  border: 2px solid #ECB84C;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #FFFFFF;
}

.header-title {
  font-family: Georgia;
  font-weight: bold;
  font-size: 200px;
  line-height: 227px;

  margin: auto;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.header-subtitle {
  font-family: Georgia;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;

  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin-bottom: -13px;

}

.header-subtitle::after,
.header-subtitle::before {
  content: '';
  border-top: 2px solid #ECB84C;
  width: 100%;
}


.header-subtitle::before {
  margin-right: 30px;
}

.header-subtitle::after {
  margin-left: 30px;
}

.menu {
  border-bottom: 1px solid rgba(208, 212, 216, .5);
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__list-link {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;

  color: #909090;
  padding: 24px 10px 20px;
  margin: 0 6px;
  border-bottom: 4px solid transparent;
  transition: all .5s;

  &--active {
    color: #4E5665;
    border-bottom: 4px solid #ECB84C;
    margin-top: 2px;
  }

  &:hover {
    color: #4E5665;
    border-bottom: 4px solid #ECB84C;
  }
}

.title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;

  text-align: center;

  color: #4E5665;
  margin-bottom: 22px;
}

.text {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;

  align-items: center;
}

.statistic {
  padding: 80px 0 0;
}

.statistic-link {
  text-align: right;
}

.statistic-link a {
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;

  color: #ECB84C;
  margin-bottom: 36px;
}

.statistic-advantages{
  padding-bottom: 80px;
}

.advantages-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.advantages-list__item-number {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  margin-top: 32px;
}

.advantages-list__item-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  color: #909090;
}

.about{
  padding-top: 80px;
}

.about__list{
  display: flex;
  flex-wrap: wrap;
}

.about__item {
  display: flex;
  position: relative;
  margin-bottom: 100px;
}

.about__item-info {
  width: 470px;
  height: 289px;
  position: absolute;
  background-color: #fff;
  top: 65px;
  left: 0;

  &:before {
    content: '';
    width: 33px;
    height: 33px;
    position: absolute;
    top: -19px;
    left: -19px;
    background-image: url('../img/up.svg');
  }

  &:after {
    content: '';
    width: 33px;
    height: 33px;
    position: absolute;
    bottom: 19px;
    right: 19px;
    background-image: url('../img/down.svg');
  }
}

.about__item__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 25px;

  color: #4E5665;
  margin-bottom: 20px;
}

.about__item__photo {
  width: 570px;
  height: 428px;
  margin-left: 400px;
  border-radius: 4px;
}



// .car__title {
//   margin-bottom: 150px;
// }

// .car__photo {
//   width: 1170px;
//   height: 329.27px;
//   margin-bottom: 60px;
// }

// .photos {
//   padding-top: 80px;
// }

// .photos__text {
//   margin-bottom: 105px;
// }

// .photos-slider {
//   max-width: 980px;
//   position: relative;
// }

// .photos-slider__btn {
//   position: absolute;
//   top: 50%;
//   background-color: transparent;
//   border: none;
//   padding: 0;
//   margin: 0;
//   z-index: 5;
//   cursor: pointer;
// }

// .photos-slider__btnprev {
//   left: -15px;
// }

// .photos-slider__btnnext {
//   right: -15px;
// }

// .footer {
//   margin-top: 56px;
//   background-color: #F8F8F8;
//   width: 100%;

// }

// .footer-box__wrapper {
//   display: flex;
//   justify-content: space-between;
//   padding: 56px 200px 40px 300px;
// }


// .footer-item__title {
//   font-weight: bold;
//   font-size: 15px;
//   line-height: 20px;

//   color: #4E5665;
//   margin-bottom: 20px;
// }

// .footer-item {
//   padding-left: 26px;

//   &--talk{
//     position: relative;

//     &:before {
//       content: '';
//       position: absolute;
//       width: 16px;
//       height: 16px;
//       top: 2px;
//       left: 0;
//       background-image: url('../img/talk.svg');
//     }
//   }

//   &--fb {
//     position: relative;

//     &:before {
//       content: '';
//       position: absolute;
//       width: 16px;
//       height: 16px;
//       top: 2px;
//       left: 0;
//       background-image: url('../img/fb-icon.svg');
//     }
//   }

//   &--ig {
//     position: relative;

//     &:before {
//       content: '';
//       position: absolute;
//       width: 16px;
//       height: 16px;
//       top: 2px;
//       left: 0;
//       background-image: url('../img/ig-icon.svg');
//     }
//   }

//   &--youtube {
//     position: relative;

//     &:before {
//       content: '';
//       position: absolute;
//       width: 16px;
//       height: 16px;
//       top: 2px;
//       left: 0;
//       background-image: url('../img/youtube-icon.svg');
//     }
//   }

//   &--mail {
//     position: relative;

//     &:before {
//       content: '';
//       position: absolute;
//       width: 16px;
//       height: 13px;
//       top: 2px;
//       left: 0;
//       background-image: url('../img/email-icon.svg');
//     }

//   }
// }

// .footer-item a {
//   font-weight: normal;
//   font-size: 14px;
//   line-height: 19px;
//   padding-bottom: 5px;
//   color: #505050;
// }

// .copy {
//   text-align: center;
// }

@import "media";
