@import "global";
@import "vars";
@import "libs";
@import "fonts";

.header {
  width: 1440px;
  height: 700px;
  background-image: url('../img/top-bg.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 135px;
}

.header-title {
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 200px;
  line-height: 227px;

  text-align: center;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  padding-top: 196px;
}

.header-subtitle {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;

  text-align: center;

  color: #FFFFFF;

  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  padding-top: 90px;

}

.nav-list {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  padding: 0 400px;
}

.nav-list__item a {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;

  display: flex;
  align-items: center;

  color: #909090;

  &--active {
    color: #4E5665;
    border-bottom: 4px solid #ECB84C;
    padding-bottom: 3px;
  }

  &:hover {
    color: #4E5665;
    border-bottom: 4px solid #ECB84C;
    padding-bottom: 16px;
  }
}

.block {
  width: 970px;
  margin: 0 auto;
  margin-bottom: 81px;
}

.title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;

  text-align: center;

  color: #4E5665;
  margin-bottom: 22px;
}

.text {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;

  align-items: center;
}

.statistic-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;

  color: #ECB84C;
  margin-left: 860px;
  margin-bottom: 64px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
}

.advantages-list__item:first-child {
  margin-left: 90px;
}

.advantages-list__item {
  margin-right: 162px;
}

.advantages-list__item-number {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}

.advantages-list__item-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  color: #909090;
}

.info-text {
  margin-bottom: 64px;
}

.info-block__list {
  display: flex;
  flex-wrap: wrap;
}

.info-block__item {
  display: flex;
  position: relative;
  margin-bottom: 100px;
}

.info-block__item-beaches {
  .info-block__photo-wrapper {
    order: 0;
  }
}

.info-block__item-text {
  width: 470px;
  height: 289px;
  position: absolute;
  background-color: #fff;
  top: 65px;
  left: 0;

  &:before {
    content: '';
    width: 33px;
    height: 33px;
    position: absolute;
    top: -19px;
    left: -19px;
    background-image: url('../img/up.svg');
  }

  &:after {
    content: '';
    width: 33px;
    height: 33px;
    position: absolute;
    bottom: 19px;
    right: 19px;
    background-image: url('../img/down.svg');
  }
}

.info-block__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 25px;

  color: #4E5665;
  margin-bottom: 20px;
}

.info-block__photo {
  width: 570px;
  height: 428px;
  margin-left: 400px;
  border-radius: 4px;
}



.car__title {
  margin-bottom: 150px;
}

.car__photo {
  width: 1170px;
  height: 329.27px;
  margin-bottom: 60px;
}

.photos {
  padding-top: 80px;
}

.photos__text {
  margin-bottom: 105px;
}

.photos-slider {
  max-width: 980px;
  position: relative;
}

.photos-slider__btn {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 5;
  cursor: pointer;
}

.photos-slider__btnprev {
  left: -15px;
}

.photos-slider__btnnext {
  right: -15px;
}

.footer {
  margin-top: 56px;
  background-color: #F8F8F8;
  width: 100%;

}

.footer-box__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 56px 200px 40px 300px;
}


.footer-item__title {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;

  color: #4E5665;
  margin-bottom: 20px;
}

.footer-item {
  padding-left: 26px;

  &--talk{
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      top: 2px;
      left: 0;
      background-image: url('../img/talk.svg');
    }
  }

  &--fb {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      top: 2px;
      left: 0;
      background-image: url('../img/fb-icon.svg');
    }
  }

  &--ig {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      top: 2px;
      left: 0;
      background-image: url('../img/ig-icon.svg');
    }
  }

  &--youtube {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      top: 2px;
      left: 0;
      background-image: url('../img/youtube-icon.svg');
    }
  }

  &--mail {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 13px;
      top: 2px;
      left: 0;
      background-image: url('../img/email-icon.svg');
    }

  }
}

.footer-item a {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  padding-bottom: 5px;
  color: #505050;
}

.copy {
  text-align: center;
}

@import "media";
