/****************
 Box Sizing
 *******************/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/*******************
 Core body defaults
 @see https://hankchizljaw.com/wrote/a-modern-css-reset/
 *******************/
body {
  margin: 0 auto;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #505050; }

/****************************
 Generic Margins and Paddings
 ****************************/
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
figcaption,
hr,
dl,
dd {
  margin: 0;
  padding: 0; }

a {
  display: inline-block;
  text-decoration: none; }

/*******************
 Lists
 *******************/
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

/*******************
 Forms and buttons
 *******************/
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit; }

/* I usually expand input and textarea to full-width */
input[type="text"],
textarea {
  width: 100%; }

/* More friendly border */
input,
textarea,
button {
  border: 1px solid gray; }

/* Some defaults for one-liner buttons */
button {
  padding: 0.75em 1em;
  line-height: inherit;
  border-radius: 0;
  background-color: transparent; }

button * {
  pointer-events: none; }

/***********************************
 Easy responsive for media elements
 ***********************************/
img,
svg,
iframe,
video,
object,
embed {
  display: block;
  max-width: 100%; }

/*******************
 Useful table styles
 *******************/
table {
  table-layout: fixed;
  width: 100%; }

/*******************
 The hidden attribute
 *******************/
[hidden] {
  opacity: 0;
  visibility: hidden; }

/*******************
 Noscript
 *******************/
noscript {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em; }

/*******************
 Tabindex
 *******************/
[tabindex="-1"] {
  outline: none !important; }

/*******************
 Remove animations and transitions
 @see https://hankchizljaw.com/wrote/a-modern-css-reset/
 *******************/
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

/*******************
 * Screen-ready only class to hide content visually
 * Solution by Joe Watkins.
 * @see https://zellwk.com/blog/hide-content-accessibly/
 *******************/
.sr-only {
  position: absolute;
  width: 1px;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*!
 * fullPage 3.0.9
 * https://github.com/alvarotrigo/fullPage.js
 *
 * @license GPLv3 for open source use only
 * or Fullpage Commercial License for commercial use
 * http://alvarotrigo.com/fullPage/pricing/
 *
 * Copyright (C) 2018 http://alvarotrigo.com/fullPage - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  /* <=28 */
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent; }

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  overflow: hidden;
  position: relative; }

.fp-scroller {
  overflow: hidden; }

.iScrollIndicator {
  border: 0 !important; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

#fp-nav {
  position: fixed;
  z-index: 100;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translate3d(0, -50%, 0); }

#fp-nav.fp-right {
  right: 17px; }

#fp-nav.fp-left {
  left: 17px; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0 !important;
  right: 0;
  margin: 0 auto !important; }

.fp-slidesNav.fp-bottom {
  bottom: 17px; }

.fp-slidesNav.fp-top {
  top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }

.fp-slidesNav ul li {
  display: inline-block; }

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px; }

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer; }

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1; }

#fp-nav ul li .fp-tooltip.fp-right {
  right: 20px; }

#fp-nav ul li .fp-tooltip.fp-left {
  left: 20px; }

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important; }

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important; }

/*Only display content to screen readers*/
.fp-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

.wrapper {
  max-width: 1442px;
  margin: 0 auto; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.section-line {
  border-bottom: 1px solid rgba(208, 212, 216, 0.5); }

.container-content {
  max-width: 970px;
  margin: 0 auto; }

.header__top {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px; }

.header__top-inner {
  border: 2px solid #ECB84C;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  color: #FFFFFF; }

.header-title {
  font-family: Georgia;
  font-weight: bold;
  font-size: 200px;
  line-height: 227px;
  margin: auto;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5); }

.header-subtitle {
  font-family: Georgia;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -13px; }

.header-subtitle::after,
.header-subtitle::before {
  content: '';
  border-top: 2px solid #ECB84C;
  width: 100%; }

.header-subtitle::before {
  margin-right: 30px; }

.header-subtitle::after {
  margin-left: 30px; }

.menu {
  border-bottom: 1px solid rgba(208, 212, 216, 0.5); }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.menu__list-link {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #909090;
  padding: 24px 10px 20px;
  margin: 0 6px;
  border-bottom: 4px solid transparent;
  -webkit-transition: all .5s;
  transition: all .5s; }
  .menu__list-link--active {
    color: #4E5665;
    border-bottom: 4px solid #ECB84C;
    margin-top: 2px; }
  .menu__list-link:hover {
    color: #4E5665;
    border-bottom: 4px solid #ECB84C; }

.title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #4E5665;
  margin-bottom: 22px; }

.text {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.statistic {
  padding: 80px 0 0; }

.statistic-link {
  text-align: right; }

.statistic-link a {
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: #ECB84C;
  margin-bottom: 36px; }

.statistic-advantages {
  padding-bottom: 80px; }

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.advantages-list__item-number {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  margin-top: 32px; }

.advantages-list__item-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #909090; }

.about {
  padding-top: 80px; }

.about__title {
  margin-bottom: 13px; }

.about__text {
  margin-bottom: 72px; }

.about__box {
  margin-bottom: 100px;
  padding: 70px 0;
  background-repeat: no-repeat;
  background-position: right; }
  .about__box:nth-child(even) {
    background-position: left; }

.about__item {
  padding: 33px 40px;
  height: 289px;
  max-width: 470px;
  position: relative;
  background-color: #fff; }

.about__box:nth-child(odd) .about__item:before {
  content: '';
  width: 33px;
  height: 33px;
  position: absolute;
  top: 19px;
  left: 19px;
  background-image: url("../img/up.svg"); }

.about__box:nth-child(odd) .about__item:after {
  content: '';
  width: 33px;
  height: 33px;
  position: absolute;
  bottom: 19px;
  right: 19px;
  background-image: url("../img/down.svg"); }

.about__box:nth-child(even) .about__item {
  margin-left: auto; }
  .about__box:nth-child(even) .about__item:before {
    content: '';
    width: 33px;
    height: 33px;
    position: absolute;
    top: 19px;
    right: 19px;
    border-top: 2px solid #ECB84C;
    border-right: 2px solid #ECB84C; }
  .about__box:nth-child(even) .about__item:after {
    content: '';
    width: 33px;
    height: 33px;
    position: absolute;
    bottom: 19px;
    left: 19px;
    border-bottom: 2px solid #ECB84C;
    border-left: 2px solid #ECB84C; }

.about__item-title {
  font-family: Georgia;
  font-size: 24px;
  line-height: 25px;
  color: #4E5665;
  margin-bottom: 20px; }

.about__preview-title {
  margin-bottom: 38px; }

.about__preview-text {
  margin: 53px auto 80px; }

.about__images-box {
  padding-top: 73px;
  position: relative; }

.about__dot {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(236, 184, 76, 0.75);
  position: absolute; }
  .about__dot--1 {
    top: 190px;
    left: 148px; }
  .about__dot--2 {
    top: 188px;
    left: 495px; }
  .about__dot--3 {
    top: 147px;
    right: 374px; }
  .about__dot--4 {
    bottom: 28px;
    right: 299px; }
  .about__dot::before {
    content: '';
    position: absolute;
    background-image: url("../img/line.svg");
    width: 244px;
    height: 122px;
    top: -113px;
    left: 25px;
    display: none; }
  .about__dot::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFD600;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    cursor: pointer; }

.about__dot:hover::before {
  display: block; }

.about__dot-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  position: absolute;
  white-space: nowrap;
  top: -140px;
  left: 150px;
  display: none; }

.about__dot:hover .about__dot-text {
  display: block; }

.photos {
  padding-top: 80px;
  margin-bottom: 81px; }

.photos__text {
  margin-bottom: 105px; }

.photos-slider {
  max-width: 980px;
  position: relative;
  -webkit-filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.3)); }

.photos-slider__btn {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 5;
  cursor: pointer; }

.photos-slider__btnprev {
  left: -15px; }

.photos-slider__btnnext {
  right: -15px; }

.footer {
  background-color: #F8F8F8;
  padding: 55px 0 32px;
  border-top: 1px solid rgba(208, 212, 216, 0.5); }

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer__item-title {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #4E5665;
  text-transform: uppercase;
  margin-bottom: 20px; }

.footer__item-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  padding-bottom: 5px;
  color: #505050; }
  .footer__item-link--talk {
    position: relative;
    padding-left: 26px; }
    .footer__item-link--talk:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      top: 2px;
      left: 0;
      background-image: url("../img/talk.svg"); }
  .footer__item-link--fb {
    position: relative;
    padding-left: 26px; }
    .footer__item-link--fb:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      top: 2px;
      left: 0;
      background-image: url("../img/fb-icon.svg"); }
  .footer__item-link--ig {
    position: relative;
    padding-left: 26px; }
    .footer__item-link--ig:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      top: 2px;
      left: 0;
      background-image: url("../img/ig-icon.svg"); }
  .footer__item-link--youtube {
    position: relative;
    padding-left: 26px; }
    .footer__item-link--youtube:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      top: 2px;
      left: 0;
      background-image: url("../img/youtube-icon.svg"); }
  .footer__item-link--mail {
    position: relative;
    padding-left: 26px; }
    .footer__item-link--mail:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 13px;
      top: 2px;
      left: 0;
      background-image: url("../img/email-icon.svg"); }

.footer__copy {
  padding-top: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 19px; }
